body {
    background-image: url("images/KBCBackground.png");
       }

h1{
    text-align: center;
    color: white;
    font-size: 34px;
}

h2{
    color: white;
    font-size: 20px;
}

.kbc 
{
    border-radius: 50%;
    display: block;
      margin: 0 auto;
      width: 80%;
}

.btn { 
    
    cursor: pointer; 
    border: 3px solid white; 
    background-color: transparent; 
    height: 70px; 
    width: 250px; 
    
    color: white; 
    font-size: 1.5em; 
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); 
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
} 
a{
    color: white;
    text-decoration: none;
}
  
  button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  button:hover:after {
    opacity: 1;
    right: 10px;
  }